# Python
__pycache__/
*.pyc

# Virtual Environment
venv/

# Environment Variables
.env

# macOS
.DS_Store

# IDE Files
.vscode/
.idea/

# Private Investigation Data
outputs/private/
data/private/
vector_db/
